
<% if user_signed_in? %>
  <%= current_user.nickname %>
<% end %>

<p>
  <%= link_to "投稿する", new_post_path, class: "post" %>
</p>

<% @posts.each do |post| %>
  <p><%= image_tag post.image.thumb.url, class: 'post-image' %></p>
  <ul>
    <li>
      <p>タイトル : <%= post.title %></p>
    </li>
    <li>
      <p>ユーザー名 : <%= post.user.nickname %></p>
    </li>
  </ul>
<% end %>