
<% if user_signed_in? %>
  <%= current_user.nickname %>
<% end %>

<p>
  <%= link_to "投稿する", new_post_path, class: "post" %>
</p>

<% @posts.each do |post| %>
  <ul>
    <li>
      <%= image_tag post.image.thumb.url, class: 'post-image' %>
    </li>
    <li>
      <%= post.image %>
      <%= post.title %>
      <%= post.user.nickname %>
    </li>
  </ul>
<% end %>