<% if user_signed_in? %>
  <p>ようこそ、<%= current_user.nickname %>さん！</p>
  <ul>
    <li><%= link_to "マイページ", user_path(current_user.id) %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
  <p><%= link_to "投稿する", new_post_path, class: "post" %></p>
<% else %>
  <%= link_to 'ユーザー登録する', new_user_registration_path %>
  <%= link_to 'ログインする', new_user_session_path %>
<% end %>

<% @posts.each do |post| %>
  <p><%= image_tag post.image.thumb.url, class: 'post-image' %></p>
  <ul>
    <li>
      <p>タイトル : <%= post.title %></p>
    </li>
    <li>
      <p>
        ユーザー名 : <%= link_to post.user.nickname, user_path(post.user.id)%>
      </p>
    </li>
  </ul>
  <% if user_signed_in? %>
    <% if post.user == current_user %>
      <%= link_to '削除', post_path(post.id), method: :delete %>
    <% end %>
    <% if post.liked_by?(current_user) %>
      <td>
        <%= link_to like_posts_path(post), class: "like", remote: true do %>
          <i class="fas fa-heart" id="<%= post.id %>"></i>
          <%= post.likes.count %>
        <% end %>
      </td>
    <% else %>
      <td>
        <%= link_to like_posts_path(post), class: "like", remote: true do %>
          <i class="far fa-heart" id="<%= post.id %>"></i>
        <% end %>
      </td>
    <% end %>
  <% end %>
<% end %>