<p><%= link_to "マイページ", user_path(current_user.id)%></p>

<% if user_signed_in? %>
  <%= current_user.nickname %>
<% end %>

<p><%= link_to "投稿する", new_post_path, class: "post" %></p>

<% @posts.each do |post| %>
  <p><%= image_tag post.image.thumb.url, class: 'post-image' %></p>
  <ul>
    <li>
      <p>タイトル : <%= post.title %></p>
    </li>
    <li>
      <p>ユーザー名 : <%= post.user.nickname %></p>
    </li>
  </ul>
  <%= link_to '削除', post_path(post.id), method: :delete %>

  <% if post.liked_by?(current_user) %>
    <td>
      <%= link_to like_posts_path(post), class: "like", remote: true do %>
        <i class="fas fa-heart" id="<%= post.id %>"></i>
      <% end %>
    </td>
  <% else %>
    <td>
      <%= link_to like_posts_path(post), class: "like", remote: true do %>
        <i class="far fa-heart" id="<%= post.id %>"></i>
      <% end %>
    </td>
  <% end %>
<% end %>